.container {
background-color: white;
padding: 20px;
border-radius: 10px;
border: 1px solid #e0e0e3;
margin-block: 10px ;
}

.ChevronContainer {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
cursor: pointer;
}