.bildeinruecken {
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bildeinruecken2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.CenterContainer{
  padding: 40px;
}

.HomeFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}